<body>

.third {
	height: 25vh;
}

.russia_1 {
	background-color: white;
}
.third {
	height: 25vh;
}

.russia_2 {
	background-color: blue; 
}
.third {
	height: 25vh;
}

.russia_3 {
	background-color: red; 
}

.third {
	height: 25vh;
}

.ispania_1 {
	background-color: red;
}

.third {
	height: 25vh;
}

.ispania_2 {
	background-color: yellow;
}

.third {
	height: 25vh;
}

.ispania_3 {
	background-color: red;
}

.therd {
	height: 120vh;
}

.kazahstan_1 {
	background-color: blue
}