.container {
    display: flex;
    height: 400px;
    background-color: purple;

    justify-content: space-around;

    align-items: stretch;
}

.stripe {
	background-color: orange;
	font-size: 50px;

	flex-grow: 1;
}

.first {
    background-color: #ff0000;
    flex-grow: 2;
}

.second {
	background-color: #00ff00;
	flex-grow: 3;
}
  
.therd {
	background-color:  #0000ff;
	flex-grow: 4;
}